## October 14, 2019 ##
* Jadd Cheng

## 5 sites to scrape: ##
1. [NASA Mars News](https://mars.nasa.gov/news/)
2. [JPL Mars Space Images ](https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars)
3. [Mars Weather](https://twitter.com/marswxreport?lang=en)
4. [Mars Facts](https://space-facts.com/mars/)
5. [Mars Hemispheres](https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars)

## Strategy ##
1. NASA Mars News
2. JPL Mars Space Images
3. Mars Weather
4. Mars Facts
5. Mars Hemispheres

In [35]:
# Import dependencies
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser

## NASA Mars News
* Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text. Assign the text to variables that you can reference later.

* https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest

### Example:
* `news_title = "NASA's Next Mars Mission to Investigate Interior of Red Planet"`

* `news_p = "Preparation of NASA's next spacecraft to Mars, InSight, has ramped up this summer, on course for launch next May from Vandenberg Air Force Base in central California -- the first interplanetary launch in history from America's West Coast."`

In [ ]:
# url_nasa_mars_news = 'https://mars.nasa.gov/news/'

## JPL Mars Space Images - Featured Image
* Visit the url for JPL Featured Space Image here.
* https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars
* Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called featured_image_url.
* Make sure to find the image url to the full size .jpg image.
* Make sure to save a complete url string for this image.

### Example:
* `featured_image_url = 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16225_hires.jpg'`

In [1]:
# Click on full image.
# Click on More Info.
# Get the URL for full-image.
# featured_image_url = 'https://www.jpl.nasa.gov' + 
# browser instance
# click on button called full image

# href="/spaceimages/images/mediumsize/PIA19343_ip.jpg"
# <figure class="lede">
# <a href="/spaceimages/images/largesize/PIA19343_hires.jpg"><img alt="NASA's Low-Density Supersonic Decelerator hangs from a launch tower at U.S. Navy's Pacific Missile Range Facility in Kauai, Hawaii. The saucer-shaped vehicle will test two devices for landing heavy payloads on Mars." title="NASA's Low-Density Supersonic Decelerator hangs from a launch tower at U.S. Navy's Pacific Missile Range Facility in Kauai, Hawaii. The saucer-shaped vehicle will test two devices for landing heavy payloads on Mars." class="main_image" src="/spaceimages/images/largesize/PIA19343_hires.jpg"></a>
# </figure>

## Mars Weather
* Visit the Mars Weather twitter account here and scrape the latest Mars weather tweet from the page. Save the tweet text for the weather report as a variable called mars_weather.

### Example:
* `mars_weather = 'Sol 1801 (Aug 30, 2017), Sunny, high -21C/-5F, low -80C/-112F, pressure at 8.82 hPa, daylight 06:09-17:55'`

## Mars Facts
* Visit the Mars Facts webpage here and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.
* Use Pandas to convert the data to a HTML table string.
* https://space-facts.com/mars/
* Scraping strategy: No need to soupify.
* Just pass HTML string directly to Pandas `read_html` method.
* Pandas will automatically detect all tables and return a list of them.
* Can reference individual tables with bracket notation, e.g. `[0]`

In [36]:
url_mars_facts = 'https://space-facts.com/mars/'

In [37]:
url_mars_facts

'https://space-facts.com/mars/'

In [38]:
response_mars_facts_html = requests.get(url_mars_facts).text

In [39]:
pd.read_html(response_mars_facts_html)

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [56]:
df_mars_facts = pd.read_html(response_mars_facts_html)[1]
print(df_mars_facts)
df_mars_facts
# export to table without headers or index.
# no need to soupify.

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [58]:
from IPython.display import HTML
# https://blog.hedaro.com/styling-dataframe-tables.html

In [59]:
HTML(df_mars_facts.to_html(header=False, index=False))